body{
  background: blue; # This is the background color.
}

img{
  width: 100px; # This is the width of the image.
  height: 100px; # This is the height of the image.
}
  border-radius: 70%; # This is the border radius of the
}
