{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'styless.css'%}">
  <title>Document</title>
</head>
<body>
  <h1>Hello, am Wadondera</h1>
  <P>Am a software developer specializing in Python, Django, and Dart.</P>
  <h1>Random image</h1>
  {{results}}
  <img src={{results}} alt="random pet" />
</body>
</html>